extends ./settingsLayout.jade

block title
	title My Awards

block content
	h1 My Awards
	ul
		li
			a(href="/settings") Settings
		li
			a(href="/settings/account") My Account
		li
			a(href="/settings/password") Change Password
		li
			a(href="/settings/terms") Terms and Conditions
		li
			a(href="/settings/contact") Contact Us
	
