extends ./settingsLayout.jade

block title
	title Contact Us

block content
	h1 Contact Us
	ul
		li
			a(href="/settings") Settings
		li
			a(href="/settings/account") My Account
		li
			a(href="/settings/password") Change Password
		li
			a(href="/settings/awards") My Awards
		li
			a(href="/settings/terms") Terms and Conditions
	
