extends ./settingsLayout.jade

block title
	title Settings

block content
	div.mainBody
		h1 Settings
		hr
		a(href="/settings/account") My Account
		hr
		a(href="/settings/password") Change Password
		hr
		a(href="/settings/awards") My Awards
		hr
		a(href="/settings/terms") Terms and Conditions
		hr
		a(href="/settings/contact") Contact Us
		hr
	
