extends ./settingsLayout.jade

block title
	title Change Password

block content
	div.mainBody
		a.backLink(href="/settings") <- Back To Settings
		hr
		h1 Change Password

		div.errors
			ul
				for error, i in errors
					li.error #{error}

		form(action="/settings/password", method="post")
			div.formRow
				div.helpBox
				div.formLabel
					label Current Password:
				div.formInput
					input(type="password" name="originalPass")
				div.clear
			br

			div.formRow
				div.helpBox
				div.formLabel
					label New Password:
				div.formInput
					input(type="password" name="newPass")
				div.clear
			br

			div.formRow
				div.helpBox
				div.formLabel
					label Confirm New Password:
				div.formInput
					input(type="password" name="confirmPass")
				div.clear
			br

			div.formRow
				div.submitBlock
					input(type="submit" value="Create New Contest")
	
