extends ./settingsLayout.jade

block title
	title Terms and Conditions

block content
	h1 Terms and Conditions
	ul
		li
			a(href="/settings") Settings
		li
			a(href="/settings/account") My Account
		li
			a(href="/settings/password") Change Password
		li
			a(href="/settings/awards") My Awards
		li
			a(href="/settings/contact") Contact Us
	
