extends ./createLayout.jade

block title
	title My Contests

block content
	h1 My Contests
	ul
		li
			a(href="/create/edit") Edit Contests
		li
			a(href="/create/new") New Contest
		li
			a(href="/create/police") Police Contest
	