extends ./createLayout.jade

block title
	title My Contests

block content
	div.mainBody
		a.backLink(href="/create/new") + Create a New Contest
		hr
		h1 My Contests
		table#contests
			each contest, i in contests
				tr(class=(i % 2 == 0) ? 'odd' : 'even')
					td.thumbnail
						img.thumbnail(src="/banners/#{contest.banner}")
					td.title
						a(href="/create/edit/#{contest.id}")
							p #{contest.title}
					td.entries
						p entries here
					td.judges
						p judges here
					td.deadline
						p #{contest.deadline}
	