extends ./createLayout.jade

block title
	title My Contests

block content
	h1 Police Contest
	ul
		li
			a(href="/create") My Contests
		li
			a(href="/create/edit") Edit Contest
		li
			a(href="/create/new") New Contest
	