doctype html
html
	head
		link(rel='stylesheet', href='/css/main.css', type='text/css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		title Sign Up for Sunzora
	body#signUp
		div#top 
			h2 Log In To
			div#titleBox
		div#bottom
			form(action="/login", method="post")
				div.dataField
					label Email Address:
					input(type="text", name="username", id="username")
					br
				div.dataField
					label Type Password:
					input(type="password", name="password", id="password")
					br
				div.dataField
					input(type="submit", value="Log In", id="submit")
					br
					br
					br
				div.dataField
					a(href="/signup") Not a user?  Sign up.
		script.
			$(document).ready(function(){
				$('#username').val('mark.karavan@gmail.com');
				$('#password').val('mark');

				//$('#username').val('david@hadden.com');
				//$('#password').val('dave');

				//$('#username').val('chris@acciavatti.com');
				//$('#password').val('chris');

				//$('#username').val('a@a.com');
				//$('#password').val('a');

				//$('#username').val('b@b.com');
				//$('#password').val('b');

				//$('#username').val('c@c.com');
				//$('#password').val('c');

				//$('#username').val('d@d.com');
				//$('#password').val('d');

				//$('#username').val('e@e.com');
				//$('#password').val('e');

				//$('#username').val('f@f.com');
				//$('#password').val('f');

				//$('#username').val('g@g.com');
				//$('#password').val('g');

				//$('#username').val('h@h.com');
				//$('#password').val('h');

				//$('#username').val('i@i.com');
				//$('#password').val('i');

				//$('#username').val('j@j.com');
				//$('#password').val('j');

				//$('#username').val('k@k.com');
				//$('#password').val('k');

				//$('#username').val('l@l.com');
				//$('#password').val('l');

				//$('#username').val('m@m.com');
				//$('#password').val('m');

				//$('#username').val('n@n.com');
				//$('#password').val('n');

				$('#username').val('o@o.com');
				$('#password').val('o');

				//$('#username').val('p@p.com');
				//$('#password').val('p');

				//$('#username').val('q@q.com');
				//$('#password').val('q');

				//$('#username').val('r@r.com');
				//$('#password').val('r');

				//$('#username').val('s@s.com');
				//$('#password').val('s');

				//$('#username').val('t@t.com');
				//$('#password').val('t');

				//$('#username').val('u@u.com');
				//$('#password').val('u');

				//$('#username').val('v@v.com');
				//$('#password').val('v');

				//$('#username').val('w@w.com');
				//$('#password').val('w');

				//$('#username').val('y@y.com');
				//$('#password').val('y');

				//$('#username').val('x@x.com');
				//$('#password').val('x');

				//$('#username').val('z@z.com');
				//$('#password').val('z');

				$('#submit').click();
			});
