html, body, ul, ol {
  margin: 0;
  padding: 0;
}

body {
	font-family: "Comic Sans MS", Arial;
}

h1, h2 {
	margin: 0;
}

body#signUp {
	font-family: "Comic Sans MS", Arial;
	div#top {
		width: 100%;
		height: 200px;
		background-color: #FFA834;
		color: #FFF;
		padding-top: 25px;
		h1, h2 {
			text-align: center;
			padding: 10px;
		}
		h2 {
			font-size: 40px;
		}
		h1 {
			font-size: 65px;
		}
		div#titleBox {
			width: 350px;
			height: 80px;
			background-size: 100% 100%;
			background-image: url('/assets/sunzorawhite.png');
			margin: 0 auto;
		}
	}
	div#bottom {
		padding-top: 60px;
		test-align: center;
		div.dataField {
			text-align: center;
			font-size: 30px;
			padding: 20px 0px;
			input {
				width: 200px;
				height: 30px;
				font-size: 20px;
			}
		}
		ul#errorList {
			text-align: center;
			list-style-type: none;
			li.error {
				color: #F00;
			}	
		}
		a {
			margin: auto;
		}
	}
}

body#main {
	div#judgingWrapper {
		text-align: center;
		h1 { }
		div#carousel {
			overflow-x: scroll;
			div.imageFrame{
				padding: 30px;
			//	-webkit-transform: rotate(90deg); /* Safari and Chrome */
			//	-moz-transform: rotate(90deg);   /* Firefox */
			//	-ms-transform: rotate(90deg);   /* IE 9 */
			//	-o-transform: rotate(90deg);   /* Opera */
			//	transform: rotate(90deg);
			//	-webkit-background-clip:padding-box; /* IOS fix */
			//	background-clip:padding-box; /* IOS fix */
				height: auto;
				float: left;
				img {
					height: 400px;
					width: 300px;
					float: left;
				}
			}
		}
		table#buttons {
			margin: 0 auto;
			a.score {
				width: auto;
				height: 70px;
				div.button {
					display: table-cell;
					border-radius: 10px;
					width: 80px;
					height: 65px;
					margin: 10px;
					text-align: center;
					vertical-align: middle;
					&#button1 { background-color: #FFE874; }
					&#button2 { background-color: #FFD864; }
					&#button3 { background-color: #FFC854; }
					&#button4 { background-color: #FFB844; }
					&#button5 { background-color: #FFA834; }
					&#button6 { background-color: #FF9824; }
					&#button7 { background-color: #FF8814; }
					&#button8 { background-color: #FF7804; }
					&#button9 { background-color: #FF6800; }
					&#button10 { background-color: #FF5800; }
					&.active {
						font-weight: bold;
						font-size: 2em;			
					}
				}
			}
		}
	}
	div.bottomButton {
		width: 14%;
		height: 80%;
		float: left;
		margin: 0% 3%;
		background-size: 100% 100%;
		&#create { background-image: url("/assets/createwhite.png");
			&:hover { background-image: url("/assets/creategray.png"); }
		}
		&#messages { background-image: url("/assets/messagewhite.png");
			&:hover { background-image: url("/assets/messagegray.png"); }
		}
		&#judge { background-image: url("/assets/judgewhite.png");
			&:hover { background-image: url("/assets/judgegray.png"); }
		}
		&#compete { background-image: url("/assets/competewhite.png");
			&:hover { background-image: url("/assets/competegray.png"); }
		}
		&#settings { background-image: url("/assets/settingswhite.png"); 
			&:hover { background-image: url("/assets/settingsgray.png"); }
		}

		&#createActive { background-image: url("/assets/creategray.png"); }
		&#messagesActive { background-image: url("/assets/messagegray.png"); }
		&#judgeActive { background-image: url("/assets/judgegray.png"); }
		&#competeActive { background-image: url("/assets/competegray.png"); }
		&#settingsActive { background-image: url("/assets/settingsgray.png"); }
	}
	div#top {
		width: 100%;
		height: 100px;
		background-color: #FFA834;
		color: #FFF;
		padding: 3% 0%;
		div#titleBox {
			vertical-align: middle;
			width: 30%;
			height: 60%;
			font-size: 50px;
			margin: 2% 0% 0% 5%;
			float: left;
			//background-color: #F00;
			background-size: 100% 100%;
			background-image: url('/assets/sunzorawhite.png');
		}
		div#userName {
			float: right;
			//background-color: #0F0;
			margin: 2% 0% 0% 0%;
			margin-right: 5%;
			text-align: center;
			font-size: 1em;
		}
		div#searchBox {
			float: right;
			width: 10%;
			height: 100px;
			background-size: 100% 100%;
			//background-color: #00F;
			background-image: url('/assets/searchwhite.png');
		}
	}
	div#body {
		div.mainBody {
			overflow: scroll;
			width: 100%;
			height: 100%;
			h1 {
				text-align: center;
				margin-bottom: 20px;
			}
			div.errors {
				text-align: center;
				margin: 0 auto;
				ul {
					color: #f00;
				}
			}
			div.formRow {
				width: 100%;
				margin: 15px auto;
				text-align: center;
				div.helpBox {
					float: left;
					height: 30px;
					width: 30px;
					margin: 0px 30px 0px 120px;
					background-size: 100% 100%;
					background-image: url('/assets/helpIcon.png');
				}
				div.formLabel {
					float: left;
					height: auto;
					width: 200px;
					//background-color: #0f0;
				}
				div.formInput {	
					float: left;
					height: auto;
					width: auto;
					//background-color: #00f;
					input[type="text"], input[type="password"] {
						width: 400px;
					}
					input[type="textarea"] {
						width: 400px;
						height: 100px;
					}
				}
				div.clear {
					float: left;
					clear: both;
				}
				div.submitBlock {
					float: left;
					//background-color: #00f;
					width: 100%;
					text-align: center;
					margin: 20px;
				}
			}
			table#contests {
				margin: auto;
				tr {
					width: 100%;
				}
				tr.even {
					background-color: #FFD874;
				}
				tr.odd {
					background-color: #FFF;
				}
				td.thumbnail {
					img.thumbnail {
						height: 50px;
						width: 50px;
					}
					width: 70px;
					padding: 10px;
				}
				td.title {
					width: 500px;
				}
				td.entries {
					width: 100px;
				}
				td.judges {
					width: 100px;
				}
				td.deadline {
					width: 200px;
				}
			}
			table.editContest {
				margin: auto;
				td {
					img {
						width: 100px;
						height: 70px;
					}
					p { 
						margin: 0;
					}
				}
			}
			p#rules {
				margin: 10 auto;
				text-align: center;
				font-weight: bold;
			}
			div#searchBar {
				margin: 0 auto;
				text-align: center;
				label {
					font-size: 1.5em;
				}
				input#search {
					background-color: #FF0;
					font-size: 1.5em;
					width: 300px;
				}
			}
			div#detailHeader {
				width: 100%;
				height: 150px;
				vertical-align: middle;
				img {
					width: auto;
					height: 100%;
					float: left;
				}
				h1 {
					text-align: center;
					vertical-align: middle;
				}
			}
			div#detailBody {
				text-align: center;
				h1 {
					color: #00f;
				}
				h4 {
					float: left;
					margin: 5px 20px;
				}
				h3 {
					margin: 60px 0px;
				}
				div#optionsWrapper {
					width: 600px;
					height: 100px;
					margin: 0 auto;
					div.option {
						float: left;
						width: 250px;
						height: 0px;
						background-color: #0f0;
						margin: 20px;
						input[type="submit"], input[type="button"] {
							width: 200px;
							height: 60px;
							font-size: 2em;
							&#judge {
								background-color: #0f0;
							}
							&#compete {
								background-color: #f00;
							}
						}
					}
				}
			}
			p.ruleDescription {
				text-align: center;
				margin: 50px 0px;
			}
			div#submissionBox {
				margin: 0 auto;
				width: 350px;
				height: 200px;
				text-align: center;
				input {
					margin: 20px;
				}
			}
		}
	}
	div#bottom {
		position: fixed;
		padding-top: 20px;
		bottom: 0;
		width: 100%;
		height: 15%;
		background-color: #FFA834;
		color: #FFF;
	}
}
