extends ./competeLayout.jade

block title
	title Contests I'm Competing In

block content
	h1 Contests I'm Competing In
	ul
		li
			a(href="/compete/results") My Results
		li
			a(href="/compete/playByPlay") Play By Play
		li
			a(href="/compete/submit") Submit Entry
	
