extends ./competeLayout.jade

block title
	title Play By Play

block content
	div.mainBody
		h1 Play By Play for #{contest.title}
		table#contests
			each entry, i in entries
				tr(class=(i % 2 == 0) ? 'odd' : 'even')
					td.thumbnail
						img.thumbnail(src="/entries/#{entry.picture}")
					td.title
						p Insert title here
	
