extends ./competeLayout.jade

block title
	title Play By Play

block content
	h1 Play By Play 
	ul
		li
			a(href="/compete") Contests I'm Competing In
		li
			a(href="/compete/results") My Results
		li
			a(href="/compete/submit") Submit Entry
	
