extends ./competeLayout.jade

block title
	title Results 

block content
	h1 Results
	ul
		li
			a(href="/compete") Contests I'm Competing In
		li
			a(href="/compete/playByPlay") Play By Play
		li
			a(href="/compete/submit") Submit Entry
	
