extends ./homeLayout.jade

block title
	title Search Contests

block content
	div.mainBody
		div#searchBar
			label Search by tag: &nbsp;
			input(type="text" name="search" id="search")
			input(type="submit" id="submit")