extends ./judgeLayout.jade

block title
	title Judge a specific contest

block content
	h1 Judge a specific contest
	ul
		li
			a(href="/judge") Contests I'm judging
		li
			a(href="/judge/report") Report an entry
	
