extends ./judgeLayout.jade

block title
	title Contests I'm Judging

block content
	h1 Contests I'm Judging
	ul
		li
			a(href="/judge") Contests I'm judging
		li
			a(href="/judge/contest") Judge a specific contest
		li
			a(href="/judge/report") Report an entry
	
