extends ../mainLayout.jade

block bottomBar
	a(href="/create")
		div.bottomButton#create
	a(href="/messages")
		div.bottomButton#messages
	a(href="/judge")
		div.bottomButton#judgeActive
	a(href="/compete")
		div.bottomButton#compete
	a(href="/settings")
		div.bottomButton#settings
