extends ./judgeLayout.jade

block title
	title Report an entry

block content
	h1 Report an entry
	ul
		li
			a(href="/judge") Contests I'm judging
		li
			a(href="/judge/contest") Judge a specific contest
